<div class="navcontainer">
	<div class="header">
		<div class="header-top">
			<div class="logo-box">
				<div class="top-logo">
					<div class="top-logo-text spin"><%= link_to image_tag('/images/waveboard-icon.png'), root_path %></div>
				</div>
			</div>
			<div><%= link_to "NEPTUNE'S CRIB", root_path, :class => 'title' %></div>
			<div class="top-right-buttons">
				<% if current_user %>
				<div class="dropdown dp-right" id="example" rel="popover" data-placement="bottom" data-content="" data-original-title="Menu">
					<div class="top-logo-text user-button" data-toggle="dropdown"><%= image_tag(current_user.avatar.url(:thumb)) %><span class="caret"></span></div>
					
					<div id="popover_content_wrapper" style="display: none;">
						<div class="btn btn-primary"><%= link_to 'My profile', profile_path(current_user) %></div>
						<p></p>
						<div class="btn btn-primary full-width"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></div>
					</div>
				</div>
				<% else %>
				<div class="" id="example" rel="popover" data-placement="bottom" data-content="" data-original-title="Login">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Login <span class="caret" ></span></button>
					<ul class="dropdown-menu menu-login-drop" id="popover_content_wrapper">
						<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
						<p class="login-box"><%= f.email_field :email, :placeholder => "Email", autofocus: true, :class => 'form-control smaller-input' %>
						</p>
						<p class="login-box"><%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :class => 'form-control smaller-input' %>
						</p>
						<p class="login-box"><%= button_tag(type: 'submit', class: "btn btn-primary full-width") do %>Log in<%end%>
							<p></p>
							<%= button_tag(:type => 'button', class: "btn btn-primary full-width") do %>
							<%= link_to 'Sign up', new_user_registration_path %>
							<% end %>
						</p>
						<% end %>
					</ul>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>