<div class="navcontainer">
	<div class="header">
		<div class="header-top">
			<div class="logo-box">
				<div class="top-logo">
					<div class="top-logo-text spin"><%= link_to image_tag('/images/neptunelogo2.svg'), root_path %></div>
				</div>
			</div>
			<div><%= link_to "NEPTUNE'S CRIB", root_path, :class => 'title' %></div>
			<div class="top-right-buttons">
				<% if current_user %>
				<div class="dropdown dp-right">
					<div class="top-logo-text user-button" data-toggle="dropdown"><%= image_tag(current_user.avatar.url(:thumb)) %><span class="caret"></span></div>
					
					<ul class="dropdown-menu menu-login-drop">
						<li><%= link_to 'My profile', profile_path(current_user) %></li>
						<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
					</ul>
				</div>
				<% else %>
				<div class="dropdown btn">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Login <span class="caret" ></span></button>
					<ul class="dropdown-menu menu-login-drop">
						<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
						<li class="login-box"><%= f.email_field :email, :placeholder => "Email", autofocus: true, :class => 'form-control smaller-input' %>
						</li>
						<li class="login-box"><%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :class => 'form-control smaller-input' %>
						</li>
						<li class="login-box"><%= button_tag(type: 'submit', class: "btn btn-primary") do %>Log in<%end%>
							
							<%= button_tag(:type => 'button', class: "btn btn-primary") do %>
							<%= link_to 'Sign up', new_user_registration_path %>
							<% end %>
						</li>
						<% end %>
					</ul>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>